*{
  font-family: Helvetica, Arial, sans-serif;
  /*min-width: 979px;*/
}

img{
  height: 70px;
}

li{
  display: inline;
  margin-right: 25px;
}

a{
  color: white;
}

h1, h5{
  color: white;
  text-align: center;
}

h4, h5{
  text-transform: uppercase;
}

p{
  color: #5e5e5e;
}

h1.price{
  color: white;
  font-size: 90px;
  line-height: 5px;
}

h5{
  font-size: 20px;
}

table{
  border: 1% solid #5e5e5e;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  background-color: #ccc;
  width: 100%;
}

tr{
  border: .25px solid #5e5e5e;
  height: 40px;
}

br{
  clear: both;
}

.nav{
  color: #5e5e5e;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px:
}

.nav1{
  color: #5e5e5e;
  text-decoration: none;
}

.content{
  max-width: 960px;
  margin: 0 auto;
}

.hero{
  background: url(../images/background2.jpeg) no-repeat center left;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 650px;
  padding-bottom: 5px;
}

.herotext{
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  padding: 250px;
}

.mainbox{
  margin: 1%;
  margin-top: 3%;
  float:left;
  width: 31.33%;
}

.color1{
  background-color: #519251;
  padding: 25px;
}

.color2{
  background-color: #2C4985;
  padding: 25px;
}

.color3{
  background-color: black;
  padding: 25px;
}

.button{
  height: 70px;
  background-color: white;
  color: black;
  text-decoration: none;
}
a.button{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border:.25px solid black;
  border-radius: 20px;
}

.secondmain{
  clear: both;
}

.secondbox{
  padding: 2.5%;
  margin: .5%;
  float: left;
  width: 42%;
}

.footer{
  clear: both;
  background-color: black;
  height: 40px;
  text-align: center;
  padding: 20px;
}

@media(min-width: 768px) and (max-width: 978px){
  .hero{
    height: 525px;
  }
  .herotext{
    padding: 150px;
  }
}

@media(min-width: 479px) and (max-width: 767px){
  .hero{
    height: 400px;
  }
  .herotext{
    font-size: 15px;
    padding: 150px;
  }
  .mainbox{
    clear: both;
    float: none;
    width: 98%;
  }
  .secondbox{
    clear: both;
    float: none;
    width: 96%;
  }
}

@media(min-width: 0px) and (max-width: 478px){
  .hero{
    height: 250px;
  }
  .herotext{
    font-size: 12px;
    padding: 125px;
  }
  .mainbox{
    clear: both;
    float: none;
    width: 98%;
  }
  .secondbox{
    clear: both;
    float: none;
    width: 96%;
  }
}
