*{
  font-family: Helvetica, Arial, sans-serif;
  /*min-width: 979px;*/
}

img{
  height: 70px;
}

li{
  display: inline;
  margin-right: 25px;
}

a{
  color: white;
}

h1, h5{
  color: white;
  text-align: center;
}

h4, h5{
  text-transform: uppercase;
}

p{
  color: #5e5e5e;
}

h1.price{
  color: white;
  font-size: 100px;
  line-height: 5px;
}

h5{
  font-size: 30px;
}

table{
  border: 1% solid #5e5e5e;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  background-color: #ccc;
  width: 100%;
}

tr{
  border: .25px solid #5e5e5e;
  height: 40px;
}

.nav{
  color: #5e5e5e;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px:
}

.nav1{
  color: #5e5e5e;
  text-decoration: none;
}

.content{
  max-width: 960px;
  margin: 0 auto;
}

.hero{
  background: url(../images/background2.jpeg) no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding-bottom: 5px;
}

.herotext{
  font-size: 30px;
  font-weight: 100;
  line-height: 25px;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 200px;
  /*margin: 250px;*/
}

.mainbox{
  margin: 1%;
  margin-top: 3%;
  float:left;
  width: 31.33%;
}

.color1{
  background-color: #519251;
  padding: 50px;
}

.color2{
  background-color: #2C4985;
  padding: 50px;
}

.color3{
  background-color: black;
  padding: 50px;
}

.button{
  height: 70px;
  background-color: white;
  color: black;
  text-decoration: none;
}
a.button{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border:.25px solid black;
  border-radius: 20px;
}

.secondmain{
  clear: both;
}
